* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.dashboard > div {
  border: 1px solid black;
  height: 500px;
}

/* .chanList-image {
  height: 70px;
}

.chanList-chan {
  margin-top: 40px;
  display: flex;
}

.chanList-content {
  height: 500px;
  overflow: scroll;
}

.chanList-header {
  position: fixed;
} */
