.form {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  padding: 2rem;
  border-radius: 50px;
  background-color: #ad9c9c;
}

.form-input {
  height: 30px;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid rgb(58, 58, 59);
}

.form-input:focus {
  outline: none;
}

.form-input,
.form-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form:hover,
.form-button:hover {
  transition: 0.2s;
  box-shadow: 0px 12px 7px 4px rgba(119, 119, 119, 0.36);
  -moz-box-shadow: 0px 12px 7px 4px rgba(119, 119, 119, 0.36);
  -webkit-box-shadow: 0px 12px 7px 4px rgba(119, 119, 119, 0.36);
}
